$contactColor:#989898;
$contactIconColor:#009cff;
$color:#333;
$bg-color:#101010;

header{
    width: 100%;
    background-color: $bg-color;
    color: #fff;

    .header-top{
        margin: auto;
        padding-right: 5px;
        
        & li{
            list-style: none;
            display: inline;
            font-size: 12px;
        }
        
        .header-contacts{
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 40px;
            
            & li{
                color:$contactColor;
                padding-right: 15px;
                    
                & i{
                    color:$contactIconColor;
                    font-size: 15px;
                    padding-right: 10px;
                }
            }

            & select{
                margin-left:15px;
                font-size: 12px;
            }

        }

        .header-nav{
            display: flex;
            align-items: center;
            padding-bottom:10px;
            height: 55px;

            & img{
                max-width: 90px;
                height: max-content;
                margin-right: 20px;
            }

            & li{
                font-size:14px ;
                margin:0 25px;
                cursor: pointer;
            
                    & i{
                        color:#878787;
                    }
            }
        }
    }


    @#{$tablet}{

        & {
            // height: 50px;
         
            .header-top{
                display: none;
            }   

            .container{
                width: 100%;
            }

            & .header-mobile{
                display: block;
                position: relative;
                text-align: left;
                font-size: 25px;
                padding:10px 0;
                margin-left:20px;

                & img{
                    width: 80px;
                    position: absolute;
                    left:50%;
                    top:50%;
                    transform: translate(-50%,-50%);
                    
                }
            }
        }
    }
}