@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap");

@import "Partials/_variables.scss";
@import "Partials/_mixin.scss";
@import "Partials/_common.scss";
@import "Partials/_header.scss";
@import "Partials/_hero.scss";
@import "Partials/_main.scss";
@import "Partials/_navbar.scss";
@import "Partials/_footer.scss";

body{
    background-color: grey;

    font-family: 'Roboto', sans-serif;
}

*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

